<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Moca.TemplateWizard.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- このセクションでは、My.Application.Log のログ構成を定義します。 -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <Moca.TemplateWizard.My.MySettings>
            <setting name="NuGetConstantsType" serializeAs="String">
                <value>NuGet.NuGetConstants, NuGet.VisualStudio</value>
            </setting>
            <setting name="NuGetDefaultFeedUrl" serializeAs="String">
                <value>DefaultFeedUrl</value>
            </setting>
            <setting name="MocaNETWin" serializeAs="String">
                <value>Moca.NETWin</value>
            </setting>
            <setting name="MocaNETWebApp" serializeAs="String">
                <value>Moca.NETWebApp</value>
            </setting>
            <setting name="Elmah" serializeAs="String">
                <value>elmah</value>
            </setting>
            <setting name="ElmahVer" serializeAs="String">
                <value>1.2.2</value>
            </setting>
            <setting name="MocaNETWinVer" serializeAs="String">
                <value>2.0.0</value>
            </setting>
            <setting name="MocaNETWebAppVer" serializeAs="String">
                <value>2.0.0</value>
            </setting>
            <setting name="AspNetWebApi" serializeAs="String">
                <value>AspNetWebApi</value>
            </setting>
            <setting name="AspNetWebApiVer" serializeAs="String">
                <value>4.0.20710.0</value>
            </setting>
            <setting name="FriendlyUrls" serializeAs="String">
                <value>Microsoft.AspNet.FriendlyUrls</value>
            </setting>
            <setting name="FriendlyUrlsVer" serializeAs="String">
                <value>1.0.2</value>
            </setting>
            <setting name="Log4net" serializeAs="String">
                <value>log4net</value>
            </setting>
            <setting name="Log4netVer" serializeAs="String">
                <value>2.0.3</value>
            </setting>
            <setting name="MSBuildExtensionPack" serializeAs="String">
                <value>MSBuild.Extension.Pack</value>
            </setting>
            <setting name="MSBuildExtensionPackVer" serializeAs="String">
                <value>1.6.0</value>
            </setting>
            <setting name="AjaxMin" serializeAs="String">
                <value>AjaxMin</value>
            </setting>
            <setting name="AjaxMinVer" serializeAs="String">
                <value>5.14.5506.26202</value>
            </setting>
            <setting name="MocaNETWindowsFormProjectVer" serializeAs="String">
                <value>3.0.0</value>
            </setting>
            <setting name="MocaNETWebFormsProjectVer" serializeAs="String">
                <value>3.0.0</value>
            </setting>
            <setting name="MocaNETWindowsFormProject" serializeAs="String">
                <value>Moca.NETWindowsFormProject</value>
            </setting>
            <setting name="MocaNETWebFormsProject" serializeAs="String">
                <value>Moca.NETWebFormsProject</value>
            </setting>
        </Moca.TemplateWizard.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
