<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AeroWizard" version="2.2.9" targetFramework="net462" />
  <package id="log4net" version="2.0.14" targetFramework="net462" />
  <package id="Moca.NETCore" version="3.0.0-beta09" targetFramework="net462" />
  <package id="NuGet.VisualStudio" version="2.8.6" targetFramework="net461" />
  <package id="SgmlReader" version="1.8.11" targetFramework="net46" />
</packages>